<!-- edit_product.html -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lzycrazy | Edit Product</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

  <div class="container mt-3">
    <div class="card card-body mx-auto" style="width: 500px;">
      <h2 class="card-title">Edit Product</h2>
      <hr>

      <form method="POST" action="/update_product/{{product.id}}/" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
          <input type="text" class="form-control" id="name" name="name" value="{{ product.name }}" required>
        </div>

        <div class="form-group">
          <input type="text" class="form-control" id="productname" name="productname" value="{{ product.productname }}" required>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" id="subcategory_id" name="subcategory_id" value="{{ product.subcategory_id }}" required>
        </div>
  
        <div class="form-group">
          <input type="file" class="form-control-file" id="image" name="image">
        </div>

        <div class="form-group">
          <input type="text" class="form-control" id="price" name="price" value="{{ product.price }}" required>
        </div>

        <div class="form-group">
          <textarea class="form-control" id="description" name="description" required>{{ product.description }}</textarea>
        </div>

        <div class="form-group">
          <input type="text" class="form-control" id="mobile" name="mobile" value="{{ product.mobile }}" required>
        </div>

        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a href="/myads/{{request.session.uid}}/"><button type="button" style="float: right;" class="btn btn-danger mt-auto">Back</button>
      </form>
    </div>
  </div>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
