<!DOCTYPE html>
<html>
<head>
    <title>Lzycrazy | Show Story</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <style>
        .story-container {
            margin: 50px auto;
            max-width: 600px;
            padding: 20px;
            background-color: #f8f9fa;
            border-radius: 5px;
        }
        .story-image {
            height: 150px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="story-container">
            <a href="{{ story.image.url }}">
                <img src="{{ story.image.url }}" style="width: 550px;height: 500px;" class="story-image" alt="Story Image">
            </a>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>
</body>
</html>
